body {
	background-color:gold;
	text-align:center;
}

h1 {
	text-align:center;
	color: green;
}
#a {
	text-align:center;
	font-family:arial;
	font-size:200%;
	color:green;
}

.b {
	text-align:center;
	color:gold;
	background-color:green;	
	border: 2px solid black;
}

th, td  {
	height: 30px;
	width: 60px;
}

#FF {
	text-align:center-bottom;
	font-family:arial;
	font-size:200%;
	color:green;
}
div {
	text-align:center;
	color: green;
	font-size: 200%;
	
}