body {
	background-color:gold;
}


#a {
	text-align:center;
	font-family:arial;
	font-size:200%;
	color:green;
}


.Q {
	border: 1px solid black;
	border-collapse: collapse;
	text-align:center;
	font-family:arial;
	font-size:100%;
	background-color:green;
	border-bottom-color:black;
	border-top-color:black;
	color:gold;
}